<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cas.dao.T5DOMapper">
  <resultMap id="BaseResultMap" type="com.cas.bean.T5DO">
    <result column="c1" jdbcType="CHAR" property="c1" />
    <result column="c2" jdbcType="CHAR" property="c2" />
    <result column="c3" jdbcType="CHAR" property="c3" />
    <result column="c4" jdbcType="CHAR" property="c4" />
    <result column="c5" jdbcType="CHAR" property="c5" />
  </resultMap>
  <insert id="insert" parameterType="com.cas.bean.T5DO">
    insert into t5 (c1, c2, c3, c4, 
      c5)
    values (#{c1,jdbcType=CHAR}, #{c2,jdbcType=CHAR}, #{c3,jdbcType=CHAR}, #{c4,jdbcType=CHAR}, 
      #{c5,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cas.bean.T5DO">
    insert into t5
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="c1 != null">
        c1,
      </if>
      <if test="c2 != null">
        c2,
      </if>
      <if test="c3 != null">
        c3,
      </if>
      <if test="c4 != null">
        c4,
      </if>
      <if test="c5 != null">
        c5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="c1 != null">
        #{c1,jdbcType=CHAR},
      </if>
      <if test="c2 != null">
        #{c2,jdbcType=CHAR},
      </if>
      <if test="c3 != null">
        #{c3,jdbcType=CHAR},
      </if>
      <if test="c4 != null">
        #{c4,jdbcType=CHAR},
      </if>
      <if test="c5 != null">
        #{c5,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="selectAll" parameterType="com.cas.bean.T5DO" resultMap="BaseResultMap">
     select * from t5
  </select>
</mapper>