<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cas.dao.UserMapper">

    <resultMap id="result" type="com.cas.bean.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="email" column="email"/>
        <result property="version" column="version"/>
        <result property="deleted" column="deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="columns">id, name, age, email, version, deleted, create_time, update_time</sql>

    <select id="queryByName" resultType="com.cas.bean.User" parameterType="string">
        select
        <include refid="columns"/>
        from user
        where name = #{name}
    </select>

    <update id="updateAge">
        update user set age = 12 where id = 4
    </update>
    <!--  开启二级缓存  -->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>


</mapper>

